@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

    .input{
        @apply w-80 lg:w-96 h-12 text-left pl-4 border-2 rounded-lg border-grey
    }

    .error{
        @apply w-80 lg:w-96 h-12 text-left pl-4 border-2 rounded-lg border-tomato bg-tomato/10 placeholder-tomato text-red-500
    }

    input:invalid{
        @apply error
    }

    @font-face {
        font-family: Roboto-Bold;
        src: url(../public/fonts/Roboto-Bold.ttf);
    }
    .Roboto-Bold{
        font-family: Roboto-Bold;
    }

    @font-face {
        font-family: Roboto-Regular;
        src: url(../public//fonts/Roboto-Regular.ttf);
    }
    .Roboto-Regular{
        font-family: Roboto-Regular;
    }
}